<div class="container text-center ">
    <div class="row justify-content-center">
        <div class="col d-flex justify-content-center">
            <button class="btn tooth">1</button>
            <button class="btn tooth">2</button>
            <button class="btn tooth">3</button>
            <button class="btn tooth">4</button>
            <button class="btn tooth">5</button>
            <button class="btn tooth">6</button>
            <button class="btn tooth">7</button>
            <button class="btn tooth">8</button>
        </div>
        <div class="col d-flex justify-content-center">
            <button class="btn tooth">9</button>
            <button class="btn tooth">10</button>
            <button class="btn tooth">11</button>
            <button class="btn tooth">12</button>
            <button class="btn tooth">13</button>
            <button class="btn tooth">14</button>
            <button class="btn tooth">15</button>
            <button class="btn tooth">16</button>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn tooth">17</button>
            <button class="btn tooth">18</button>
            <button class="btn tooth">19</button>
            <button class="btn tooth">20</button>
            <button class="btn tooth">21</button>
            <button class="btn tooth">22</button>
            <button class="btn tooth">23</button>
            <button class="btn tooth">24</button>
        </div>
        <div class="col d-flex justify-content-center">
            <button class="btn tooth">25</button>
            <button class="btn tooth">26</button>
            <button class="btn tooth">27</button>
            <button class="btn tooth">28</button>
            <button class="btn tooth">29</button>
            <button class="btn tooth">30</button>
            <button class="btn tooth">31</button>
            <button class="btn tooth">32</button>

        </div>
    </div>
</div>

<div id="test">
    {% include 'patients/tooth.html' %}
</div>

{% csrf_token %}

<script>
    $(document).ready(function () {

        var csrf = $("input[name=csrfmiddlewaretoken]").val();

        $(".tooth").click(function () {
            var data = {
                tooth: $(this).text(),
                patient: "{{patient.id}}",
                csrfmiddlewaretoken: csrf
            };
            $("#test").load('/test/', data);
        });
    })
</script>